mixin ct-info
  section.ct-info
    h2.ct-info__title Liên hệ với chúng tôi
    .ct-info__text
      p Địa chỉ: Tầng 5, Tòa nhà Cland số 81, đường Lê Đức Thọ, phường Mỹ Đình 2, quận Nam Từ Liêm, thành phố Hà Nội
      p Tel: (84-24) 37690088  –  Fax: (84-4) 3769 0015
      p Email: info@quochuyjsc.com.vn.
      p Website: www.quochuyjsc.com.vn
    .ct-info__map.embed-responsive
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1521.2869548164276!2d105.7911825956902!3d21.02174590609183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1527752170985" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
