mixin footer
  // pros
  .bg-dark.text-white
    .container
      .row.gutter-20
        .col-lg-3.col-sm-6.py-3
          .media
            img.mr-3(src="images/icon-pros-1.png", alt="")
            .media-body Miễn phí
              br
              | Vận chuyển bán kính 5km
        .col-lg-3.col-sm-6.py-3
          .media
            img.mr-3(src="images/icon-pros-2.png", alt="")
            .media-body Luôn luôn giá rẻ &
              br
              | khuyến mại không ngừng
        .col-lg-3.col-sm-6.py-3
          .media
            img.mr-3(src="images/icon-pros-3.png", alt="")
            .media-body Dịch vụ
              br
              | Chăm sóc khách hàng uy tín
        .col-lg-3.col-sm-6.py-3
          .media
            img.mr-3(src="images/icon-pros-4.png", alt="")
            .media-body Tư vấn bán hàng
              br
              strong 0932.347.414
  // footer
  footer.footer.pt-2.text-white(style="background: url('./images/night-bg.png') center/cover no-repeat;")
    .container.py-4.mt-1
      .row.gutter-20
        .col-lg-4.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Liên hệ
          div
            | - Cơ sở 1: Số 4, Ngõ 30 ( Ngõ 4 cũ ), Phố Trần Quý Kiên, Cầu Giấy, Hà Nội.
            br
            | - Cơ sở 2: 146 Nguyễn Thái Học, Q. Ba đình, Hà Nội
            br
            | - Hotline: 0932.347414 - 04.62811546
            br
            | - Email: taingheviet@gmail.com
        .col-lg-2.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Thông tin công ty
          nav
            a.d-block.link-unstyled(href="#!") Giới thiệu công ty
            a.d-block.link-unstyled(href="#!") Hệ thống bán hàng
            a.d-block.link-unstyled(href="#!") Tuyển dụng
            a.d-block.link-unstyled(href="#!") Liên hệ và góp ý
        .col-lg-3.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Hỗ trợ khách hàng
          nav
            a.d-block.link-unstyled(href="#!") Hướng dẫn mua hàng online
            a.d-block.link-unstyled(href="#!") Chính sách bảo hành, đổi trả
            a.d-block.link-unstyled(href="#!") Chính sách Đại lý
            a.d-block.link-unstyled(href="#!") Chính sách vận chuyển
        .col-lg-3.col-sm-6.mb-4.mb-lg-0
          img.w-100(src="images/fanpage.png", alt="")
        .col-12.mb-4.mb-lg-0
          .border-bottom.border-bottom-white.my-3
        .col-lg-3.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Cách thức thanh toán
          nav.d-flex
            a.mr-3.m-last-0(href="#!")
              img(src="images/payment-type-1.png", alt="" style="height: 34px;")
            a.mr-3.m-last-0(href="#!")
              img(src="images/payment-type-2.png", alt="" style="height: 34px;")
            a.mr-3.m-last-0(href="#!")
              img(src="images/payment-type-3.png", alt="" style="height: 34px;")
        .col-lg-3.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Dịch vụ giao hàng
          nav.d-flex
            a.mr-3.m-last-0(href="#!")
              img(src="images/delivery-1.png", alt="", style="height: 34px;")
            a.mr-3.m-last-0(href="#!")
              img(src="images/delivery-2.png", alt="", style="height: 34px;")
        .col-lg-3.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Đăng ký
          img.mw-100(src="images/registed-alert.png", alt="")
        .col-lg-3.col-sm-6.mb-4.mb-lg-0
          h2.text-14.font-weight-bold.text-uppercase Đăng ký nhận tin khuyến mại
          form.input-group
            input.form-control.text-14.rounded-0(type="text", placeholder="Nhập email của bạn")
            span.input-group-append
              button.input-group-text.text-14.bg-dark.text-white.border-dark.rounded-0.font-weight-bold(type="submit") ĐĂNG KÝ
    .bg-dark
      .container
        .d-flex.flex-column.flex-sm-row.justify-content-between.py-1
          .text-gray-9.d-inline-block.py-1 Copyright © 2018 ADM Group - All rights reserved.
          nav.d-flex.py-1
            each item in ['facebook', 'google-plus', 'twitter', 'pinterest', 'youtube']
              a.mr-2.m-last-0(href="#!")
                img(src=`images/icon-${item}-square.png`, alt="", style="height: 17px;")
