- var lib = ['fontawesome', 'jquery']

mixin head(data, ...rest)
  head
    title Title
    meta(charset='utf-8')
    meta(name="description", content="Description")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // vendor style
    each css in rest
      if (cssList = data[css].css)
        each css2 in cssList
          link(rel="stylesheet", href=css2)

    // custom style
    link(rel="stylesheet", href="./css/style.css")

mixin script(data, ...rest)
  // vendor script
  each js in rest
    if (jsList = data[js].js)
      each js2 in jsList
        script(src=js2)

  // custom script
  script(src="./js/globals.js")
