mixin table-responsive
  table.table.table-expand-md
    thead
      tr
        th Title 1
        th Title 2
        th Title 3
        th Title 4
    tbody
      tr
        td
          span Value 1
          span.mb-title Title-1
        td
          span Value 2
          span.mb-title Title-2
        td
          span Value 3
          span.mb-title Title-3
        td
          span Value 4
          span.mb-title Title-4
      tr
        td
          span Value 1
          span.mb-title Title-1
        td
          span Value 2
          span.mb-title Title-2
        td
          span Value 3
          span.mb-title Title-3
        td
          span Value 4
          span.mb-title Title-4
      tr
        td
          span Value 1
          span.mb-title Title-1
        td
          span Value 2
          span.mb-title Title-2
        td
          span Value 3
          span.mb-title Title-3
        td
          span Value 4
          span.mb-title Title-4
