include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer

doctype html
html(lang="vi")
  +head(head)
  body
    +header
    // end header
    block content
    +footer
    // end footer

    // javascript library
    +script(head)
