include ../modules/head/head
include ../modules/header/header
include ../modules/footer/footer
include ../modules/widgets/widgets
include ../modules/modal/modal

doctype html
html(lang="vi")
  +head(head)
  body
    // header
    block content

    // widgets: brands news videos
    +widgets

    // footer
    +footer

    // cart modal
    +cart

    // javascript library
    +script(head)
