mixin menu
  ul.menu
    li.menu__item.menu__dropdown
      a.menu__link(href="#!") Home
      ul.menu__sub
        li.menu__sub-item
          a.menu__sub-link(href="#!") Sub menu link
        li.menu__sub-item
          a.menu__sub-link(href="#!") Sub menu link
        li.menu__sub-item
          a.menu__sub-link(href="#!") Sub menu link
        li.menu__sub-item.menu__dropdown
          a.menu__sub-link(href="#!") Sub menu link
          ul.menu__sub.menu__sub--dropright
            li.menu__sub-item
              a.menu__sub-link(href="#!") Sub menu link
            li.menu__sub-item
              a.menu__sub-link(href="#!") Sub menu link
            li.menu__sub-item
              a.menu__sub-link(href="#!") Sub menu link
            li.menu__sub-item.menu__dropdown
              a.menu__sub-link(href="#!") Sub menu link
              ul.menu__sub.menu__sub--dropright
                li.menu__sub-item
                  a.menu__sub-link(href="#!") Sub menu link
                li.menu__sub-item
                  a.menu__sub-link(href="#!") Sub menu link
                li.menu__sub-item
                  a.menu__sub-link(href="#!") Sub menu link
                li.menu__sub-item
                  a.menu__sub-link(href="#!") Sub menu link

    li.menu__item
      a.menu__link(href="#!") About
    li.menu__item
      a.menu__link(href="#!") Products
    li.menu__item
      a.menu__link(href="#!") News
    li.menu__item
      a.menu__link(href="#!") Contact
