mixin breadcrumb(...list)
  - var lastItem = list.pop()
  nav
    .container
      ol.breadcrumb.m-breadcrumb
        each item in list
          li.breadcrumb-item
            a(href="#!")= item
        li.breadcrumb-item.active= lastItem
