mixin breadcrumb(...list)
  - var lastItem = list.pop()
  ol.breadcrumb
    each item in list
      li.breadcrumb-item
        a.link-unstyled(href="#!")= item
    li.breadcrumb-item.active= lastItem
