mixin ct-form
  form.ct-form
    h2.ct-form__title LIÊN HỆ VỚI CHÚNG TÔI
    .ct-form__group
      label.ct-form__label.required Họ và tên
      input.ct-form__input(type="text", required)
    .ct-form__group
      label.ct-form__label.required Số điện thoại
      input.ct-form__input(type="number", required)
    .ct-form__group
      label.ct-form__label.required Email
      input.ct-form__input(type="email", required)
    .ct-form__group
      label.ct-form__label Tiêu đề
      input.ct-form__input(type="text")
    .ct-form__group
      label.ct-form__label.required Nội dung
      textarea.ct-form__textarea(rows="3", required)
    .ct-form__btnwrap
      button.ct-form__btn(type="submit") LIÊN HỆ NGAY
