mixin widgets
  section.pt-20.mb-40(style="background: url('images/night-bg.png') center/cover no-repeat;")
    .container
      .row.gutter-20
        each item in [1,2,3,4,5]
          .col-xl-20.col-lg-3.col-md-4.col-6.mb-20
            a.card.card-body.text-center.h-100.link-unstyled(href="#!")
              img.mx-auto.mb-3(src="images/beat-logo.png", alt="", style="height: 73px;")
              .font-weight-600 Tai nghe Beats
  section
    .container.mb-20
      .row
        .col-lg-8
          section
            h2.title Tin tức
            .row
              .col-md-6.mb-30.mb-md-0
                // Home news
                article.news
                  a.d-block.link-unstyled(href="#!", title="Một huyền thoại có bước cải tiến mới sau nhiều năm")
                    .iwrap-50
                      img(src="images/home-news-img.png", alt="")
                    .max-line-1.font-weight-600.mt-2.mb-1 Một huyền thoại có bước cải tiến mới sau nhiều năm
                  .text-12.text-gray-9.mb-1
                    i.fa.fa-calendar
                    |
                    | 18/05/2018
                  .max-line-3 Một huyền thoại có bước cải tiến mới sau nhiều năm vẫn giữ nguyên kiểu dáng và màu sắc, giờ đây Koss đã giới thiệu hai phiên bản Porta Pros...
              aside.col-md-6
                .media.mb-30.m-last-0
                  a.iwrap-66.mr-3(href="#!", style="width: 120px", title="")
                    img(src="images/news-sm.png", alt="")
                  .media-body.align-self-center
                    a.d-block.link-unstyled.max-line-2.font-weight-600.mb-1(href="#!", title="") Canjam 2017 - trải nghiệm 2 mẫu tai nghe mới E1010 và H1707 của 1More
                    .text-12.text-gray-9
                      i.fa.fa-calendar
                      |
                      | 18/05/2018
                .media.mb-30.m-last-0
                  a.iwrap-66.mr-3(href="#!", style="width: 120px", title="")
                    img(src="images/news-sm.png", alt="")
                  .media-body.align-self-center
                    a.d-block.link-unstyled.max-line-2.font-weight-600.mb-1(href="#!", title="") Canjam 2017 - trải nghiệm 2 mẫu tai nghe mới E1010 và H1707 của 1More
                    .text-12.text-gray-9
                      i.fa.fa-calendar
                      |
                      | 18/05/2018
                .media.mb-30.m-last-0
                  a.iwrap-66.mr-3(href="#!", style="width: 120px", title="")
                    img(src="images/news-sm.png", alt="")
                  .media-body.align-self-center
                    a.d-block.link-unstyled.max-line-2.font-weight-600.mb-1(href="#!", title="") Canjam 2017 - trải nghiệm 2 mẫu tai nghe mới E1010 và H1707 của 1More
                    .text-12.text-gray-9
                      i.fa.fa-calendar
                      |
                      | 18/05/2018
        .col-lg-4.mb-30
          section.h-100.d-flex.flex-column
            h2.title Video
            .media-body
              .embed-responsive.embed-responsive-16by9.h-100
                <iframe width='560' height='315' src='https://www.youtube.com/embed/7A9M1EtSpzw' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen></iframe>
  button.btn.btn-dark.btn-movetop.js-btn-movetop(type="button")
    i.fa.fa-arrow-up
