include ../social/social

mixin follow-2
  section.m-follow-2
    .m-follow-2__above
      .container
        .row
          .col-lg-5.mb30
            h5.m-follow-2__heading KẾT NỐI CỘNG ĐỒNG
            +social
          .col-lg-7.mb30
            h5.m-follow-2__heading ĐĂNG KÝ NHẬN THÔNG TIN TỪ CHÚNG TÔI
            form.m-follow-2__form
              input.m-follow-2__input(type="text", placeholder="Nhập email của bạn")
              button.m-follow-2__btn(type="submit")
                i.fa.fa-envelope-o
