mixin follow
  .m-follow.ft
    .container
      .m-follow__inner
        .m-follow__left
          h4.m-follow__heading Tư vấn miễn phí
          h5.m-follow__number 02373.236.888
        .m-follow__right
          h4.m-follow__heading Đăng ký nhận tin mới nhất từ Feth
          form.m-follow__form
            input.m-follow__input(type="email", placeholder="Nhập Email của bạn", required)
            button.m-follow__btn(type="submit") Đăng ký
