// utilities
.over-hidden {
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
a.link-unstyled {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.border-style-dashed {
  border-style: dashed !important;
}
.border-style-dotted {
  border-style: dotted !important;
}
.border-last-0:last-child {
  border: 0 !important;
}
