// add fonts
@font-face {
  font-family: 'UTMAvoBold';
  src: url('../fonts/UTMAvoBold.eot');
  src: url('../fonts/UTMAvoBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/UTMAvoBold.woff') format('woff'),
       url('../fonts/UTMAvoBold.ttf')  format('truetype'),
       url('../fonts/UTMAvoBold.svg#svgFontName') format('svg');
}
.font-avobold {
  font-family: 'UTMAvoBold', sans-serif;
}

.bg-gray-200 {
  background-color: $gray-200 !important;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  background-color: #111;
  margin-bottom: 0;
  position: relative;
  margin-right: 40px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 50px;
    background: url('../images/title-bar-tail.png');
    background-size: 100% 100%;
  }
}

.title {
  border-bottom: 1px solid #999;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 7px;
  &::after {
    content: '';
    width: 80px;
    border-bottom: 5px solid #333;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}
.title-2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 12px;
  position: relative;
  padding-bottom: 8px;
  &::after {
    content: '';
    width: 50px;
    border-bottom: 3px solid #333;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.id-banner {
  .carousel-indicators {
    margin-bottom: 0;
    bottom: 15px;
    li {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #fff;
      margin: 0 5px;
      &.active {
        background: 0;
      }
    }
  }
  @media (min-width: 1200px) {
    img {
      height: 301px;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

.caret-right {
  position: relative;
  &::before,
  &::after {
    content: '';
    border-width: 6px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
  }
  &::after {
    border-left-color: #fff;
    margin-left: -1px;
  }
}

.product-intro {
  line-height: 30px;
  p {
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
  li {
    position: relative;
    padding-left: 16px;
    &::before {
      content: "\f00c";
      font-family: 'fontawesome';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.product-slider {
  position: relative;
  .owl-prev,
  .owl-next {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    span {
      display: flex !important;
      width: 30px;
      height: 50px;
      justify-content: center;
      align-items: center;
      background-color: $gray-200;
      color: $gray-800;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .owl-next {
    left: auto;
    right: 0;
  }
}

.detail-tab {
  .nav-link {
    color: #d54d4d;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      border-color: transparent;
    }
    &.active {
      background: 0;
      border: 0;
      border-bottom: 3px solid $gray-600;
    }
  }
}

.search {
  select {
    height: 40px;
    max-width: 120px;
    &,
    &:focus {
      border-radius: 0;
      background: 0;
      color: $white;
    }
    option {
      color: $gray-800;
    }
  }
  input {
    background: 0;
    border-right: 0;
    color: $white;
    height: 40px;
    &::placeholder {
      color: $white;
    }
    &:focus {
      background: 0;
      border-color: $border-color;
      box-shadow: unset;
      outline: 0;
      color: $white;
    }
  }
  .input-group-text {
    border-radius: 0;
    background: 0;
    border-left: 0;
    color: $white;
  }
}

.header-links {
  @media (min-width: 768px) {
    width: 330px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.mega-menu {
  width: calc(300%);
  left: calc(100% - 10px) !important;
  padding: 0 25px 25px !important;
  border: 0;
  border-radius: 0;
  margin-left: 0 !important;
  &::before {
    content: '';
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }
  @media (max-width: 1199px) {
    display: none !important;
  }
}

// cart modal
.md-cart {
  &__dialog {
    max-width: 1110px;
  }
  &__content {
    position: relative;
    padding: 20px;
  }
  &__close {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 4px solid $white;
    border-radius: 50%;
    color: $white;
    font-size: 22px;
    font-weight: bold;
    background-color: #333;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
  }
  &__heading {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border: 1px solid #bbb;
    border-bottom: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    padding: 6px 10px;
    img {
      height: 25px;
      margin-right: 6px;
    }
  }
  &__text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 0;
    font-size: 18px;
  }
  &__total {
    font-size: 20px;
    font-weight: 600;
    color: $red;
    margin-left: auto;
  }
  &__btnwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__btn {
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    padding: 0 16px;
    text-transform: uppercase;
    color: $white;
    background-color: $gray-800;
    &--red {
      background-color: $red;
    }
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
.md-tbl {
  &__td,
  &__th {
    border: 1px solid #bbb;
    text-align: center;
    padding: 10px;
    &--min {
      width: 1%;
      white-space: nowrap;
    }
    &--left {
      text-align: left;
    }
  }
  &__th {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__money {
    font-size: 20px;
  }
  &__card {
    display: flex;
    align-items: center;
    font-size: 24px;
    span {
      flex: 1 0 0;
    }
  }
  &__img {
    width: 112px;
    margin-right: 15px;
    border: 1px solid $border-color;
    border-radius: 3px;
  }
}
.md-count {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  &__input {
    width: 38px;
    height: 25px;
    text-align: center;
    border: 0;
  }
  &__btn {
    width: 25px;
    height: 25px;
    background-color: #444;
    color: #666;
    border: 0;
    cursor: pointer;
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .md-cart {
    &__close {
      transform: translate(0,0);
    }
  }
  .md-tbl {
    &__money {
      font-size: 16px;
    }
  }
}
@media (max-width: 767px) {
  .md-tbl {
    border-bottom: 1px solid #bbb;
    &__thead {
      display: none;
    }
    &__tbody,
    &__tr,
    &__td {
      display: block;
    }
    &__tr {
      &:nth-child(even) {
        background-color: #f4f4f4;
      }
    }
    &__td {
      width: 100%;
      text-align: left;
      padding-left: 40%;
      font-size: 14px;
      border-bottom: 0;
      position: relative;
      &::before {
        content: 'Title';
        display: block;
        width: 30%;
        padding-right: 5px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
      }
      &:nth-child(1) {
        padding-left: 10px;
        &::before {
          display: none;
        }
      }
      &:nth-child(2)::before {
        content: 'Giá';
      }
      &:nth-child(3)::before {
        content: 'Số lượng';
      }
      &:nth-child(4)::before {
        content: 'Thành tiền';
      }
    }
    &__card {
      font-size: 16px;
    }
  }
  .md-cart {
    &__note {
      font-size: 14px;
    }
    &__total {
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
    }
    &__btn {
      margin-bottom: 10px;
    }
  }
}

.btn-movetop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: $zindex-sticky;
}
