mixin product(omitShadow = false)
  // product
  .card.border-0.h-100.mx-auto(style="max-width: 250px", class=omitShadow ? "" : "shadow")
    .card-body.d-flex.flex-column.p-2.pb-3
      a.d-block.link-unstyled(href="#!")
        .iwrap-100
          img(src="images/product-img.png", alt="")
        .text-center.my-2 Tai nghe True Wireless Padmade Pamu X13
      .text-center.mb-4
        span.text-16 14.590.000đ
        del.ml-2 1.490.000đ
      .text-center.mt-auto
        a.btn.btn-dark(href=".md-cart", data-toggle="modal") Thêm vào giỏ hàng
