.text-main,
a.text-main:hover,
a.text-main:focus {
  color: $main-color !important;
}
.bg-main,
a.bg-main:focus,
a.bg-main:hover,
button.bg-main:focus,
button.bg-main:hover {
  background-color: $main-color !important
}
.border-main {
  border-color: $main-color !important;
}
.text-main-2,
a.text-main-2:hover,
a.text-main-2:focus {
  color: $main-color-2 !important;
}
.bg-main-2,
a.bg-main-2:focus,
a.bg-main-2:hover,
button.bg-main-2:focus,
button.bg-main-2:hover {
  background-color: $main-color-2 !important
}
.border-main-2 {
  border-color: $main-color-2 !important;
}
.text-main-3,
a.text-main-3:hover,
a.text-main-3:focus {
  color: $main-color-4 !important;
}
.bg-main-3,
a.bg-main-3:focus,
a.bg-main-3:hover,
button.bg-main-3:focus,
button.bg-main-3:hover {
  background-color: $main-color-3 !important
}
.border-main-3 {
  border-color: $main-color-3 !important;
}
.text-main-4,
a.text-main-4:hover,
a.text-main-4:focus {
  color: $main-color-4 !important;
}
.bg-main-4,
a.bg-main-4:focus,
a.bg-main-4:hover,
button.bg-main-4:focus,
button.bg-main-4:hover {
  background-color: $main-color-4 !important
}
.border-main-4 {
  border-color: $main-color-4 !important;
}
.text-gray-6,
a.text-gray-6:hover,
a.text-gray-6:focus {
  color: $gray-6 !important;
}
.bg-gray-6,
a.bg-gray-6:focus,
a.bg-gray-6:hover,
button.bg-gray-6:focus,
button.bg-gray-6:hover {
  background-color: $gray-6 !important
}
.text-gray-9,
a.text-gray-9:hover,
a.text-gray-9:focus {
  color: $gray-9 !important;
}
.bg-gray-9,
a.bg-gray-9:focus,
a.bg-gray-9:hover,
button.bg-gray-9:focus,
button.bg-gray-9:hover {
  background-color: $gray-9 !important
}
