// font-size
.text-12 {
  font-size: 12px !important;
}
.text-14 {
  font-size: 14px !important;
}
.text-16 {
  font-size: 16px !important;
}
.text-18 {
  font-size: 18px !important;
}
.text-20 {
  font-size: 20px !important;
}
.text-22 {
  font-size: 22px !important;
}
.text-24 {
  font-size: 24px !important;
}
.text-26 {
  font-size: 26px !important;
}
.text-28 {
  font-size: 28px !important;
}
.text-30 {
  font-size: 30px !important;
}

// font-weight
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}

// limit line
.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 1.5em;
  line-height: 1.5;
  &--2 {
    -webkit-line-clamp: 2;
    max-height: 3em;
  }
  &--3 {
    -webkit-line-clamp: 3;
    max-height: 4.5em;
  }
  &--4 {
    -webkit-line-clamp: 4;
    max-height: 6em;
  }
  &--5 {
    -webkit-line-clamp: 5;
    max-height: 7.5em;
  }
  &--6 {
    -webkit-line-clamp: 6;
    max-height: 9em;
  }
}
