.m-title {
  border-bottom: 1px solid $gray-9;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
  position: relative;
  padding-bottom: 7px;
  &::after {
    content: '';
    width: 80px;
    border-bottom: 5px solid $gray-3;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
}
