extends layout/page
include modules/card/card
include modules/title-bar/title-bar

block content
  +header('home')

  section.mb-20
    .container
      .row.gutter-20
        .col-xl-9.offset-xl-3
          article.id-banner.carousel.slide.mb-20(data-ride='carousel', data-inverval="3000")
            ol.carousel-indicators
              - for (let i = 0; i < 4; i++) {
                li(data-target='.id-banner', data-slide-to=i, class= i ? '' : 'active')
              - }
            .carousel-inner
              - for (let i = 0; i < 4; i++) {
                .carousel-item(class= i ? '' : 'active')
                  a.d-block(href="#!")
                    img.d-block.w-100(src='images/id-banenr.png', alt='')
              - }
          .row.no-gutters
            .col-xl-3.col-sm-6.shadow-border-secondary.bg-gray-200
              .media.align-items-center.h-100.py-2.px-12
                img.mr-12(src="images/icon-supporter.png", alt="", style="max-height: 29px;")
                .media-body.font-weight-700 Hỗ trợ chuyên nghiệp
            .col-xl-3.col-sm-6.shadow-border-secondary.bg-gray-200
              .media.align-items-center.h-100.py-2.px-12
                img.mr-12(src="images/icon-tools.png", alt="", style="max-height: 29px;")
                .media-body.font-weight-700 Bảo hành nhanh chóng
            .col-xl-3.col-sm-6.shadow-border-secondary.bg-gray-200
              .media.align-items-center.h-100.py-2.px-12
                img.mr-12(src="images/icon-truck.png", alt="", style="max-height: 29px;")
                .media-body.font-weight-700 Cam kết chất lượng
            .col-xl-3.col-sm-6.shadow-border-secondary.bg-gray-200
              .media.align-items-center.h-100.py-2.px-12
                img.mr-12(src="images/icon-save.png", alt="", style="max-height: 29px;")
                .media-body.font-weight-700 Đảm bảo uy tín

  // home sections
  - var sectionList = [{title: 'SẢN PHẨM KHUYẾN MẠI', number: 5, icon: '',nav: ['SẢN PHẨM MỚI','SẢN PHẨM BÁN CHẠY']},{title: 'Tai nghe',icon: 'images/icon-headphone-white.png',nav: ['Tai Nghe Earbud','Tai Nghe Bluetooth']},{title: 'Máy nghe nhạc',icon: 'images/icon-music-player-white.png',nav: ['Máy Nghe Nhạc Lossless','Máy Nghe Nhạc Thể Thao']},{title: 'SAMPS & DACS',icon: 'images/icon-amps-white.png',nav: ['Acoustic Research','Astell&Kern']},{title: 'Loa di động',icon: 'images/icon-speacker-white.png',nav: ['Loa Vi Tính','Loa Bookshelf']},{title: 'Phụ kiện',icon: 'images/icon-plugin-white.png',nav: ['Túi Đựng Tai Nghe','Túi Đựng Tai Nghe',]}]
  each section in sectionList
    section
      .container
        +title-bar(section.title, section.icon, ...section.nav)
        .row.gutter-20
          - for (let i=0; i<(section.number ? section.number : 10); i++)
            .col-sm-6.col-md-4.col-lg-3.col-xl-20.mb-20
              +product
