extend layout/page
include modules/breadcrumb/breadcrumb
include modules/paging/paging
include modules/aside/aside

block content
  +header
  .container
    +breadcrumb('Trang chủ', 'Hướng dẫn mua hàng')
    .row.gutter-20
      .col-xl-9.col-lg-8.order-lg-1.mb-20
        article.post.card.card-body.text-justify
          h1 Hidizs DH1000 - Máy nghe nhạc Dual Balanced DAC/Amp
          .d-flex.flex-wrap.justify-content-between.border-bottom.align-items-end.mb-3.pb-1
            .text-secondary
              i.fa.fa-calendar
              span 15/10/2018 - 21:23 pm
              span &nbsp;&nbsp;&nbsp;
              i.fa.fa-eye
              span Lượt xem: 222
            img(src="images/like-share-plugin.png", alt="")
          .post-content.mb-20
            p Sản phẩm Dual-Balanced DAC/amp SONATA DH-1000 đến từ Hidisz đúng như tên gọi của nó sẽ được trang bị 2 chip giải mã tín hiệu trên mạch op-amp balanced để có thể cung cấp khả năng tách kênh hoàn hảo nhất. Với 2 kênh amp song song, âm thanh sẽ được truyền tải đồng bộ đến cả 2 bên tai L / R của chiếc tai nghe mà bạn đang đeo, cung cấp hiệu năng âm học và cảm giác cân bằng cao nhất. SONATA DH-1000 cũng tương thích tốt với hầu hết các nguồn phát từ PC, Mac, iPad, iPhone, smartphone / tablet Android đến những dàn âm thanh cao cấp đắt tiền.
            p
              img(src="images/post-img.png", alt="")
            p SONATA DH-1000 sở hữu 2 chip DAC ESS ES9018K2M và 2 chip amp ESS9601 cung cấp khả năng giải mã cũng như xử lý tín hiệu âm thanh cực kỳ mạnh mẽ, hỗ trợ lên đến 24-Bit/192KHz. Thiết bị được tích hợp Hi-End AMR với 2 cổng micro-USB, đi cùng giao thức chuyên dụng FPGA. DH-1000 hỗ trợ hầu hết các định dạng nhạc Hi-Res như DSD/64/128 và PCM tối đa 192kHz / 24Bit, đồng thời cũng có thời lượng pin cao khoảng 12 giờ hoạt động liên tục.
            p
              img(src="images/post-img.png", alt="")
            p Sản phẩm được gia công đặc biệt với lớp vỏ hợp kim nhôm và thép không rỉ, mang lại độ bền cao cùng vẻ tinh tế khó cưỡng. Ốp kính cường lực còn làm tăng thêm vẻ sang trọng cần thiết khi đi chung với chiếc smartphone hay máy nghe nhạc cao cấp của bạn.
          .mb-20
            img.w-100(src="images/facebook-comment.png", alt="")
          section
            h2.title-2 Bài viết liên quan
            ul.mb-0(style="padding-left: 17px;")
              - for (let i=0; i<8;i++)
                li
                  a.link-unstyled(href="#!") Hidizs DH1000 - Máy nghe nhạc Dual Balanced DAC/Amp
      .col-xl-3.col-lg-4.mb-20
        +aside("menu")
