extend layout/page
include modules/breadcrumb/breadcrumb
include modules/paging/paging
include modules/aside/aside

block content
  +header
  .container
    +breadcrumb('Trang chủ', 'Tin tức')
    .row.gutter-20
      .col-xl-9.col-lg-8.order-lg-1.mb-20
        .card
          .card-body
            ul.list-unstyled.mb-0
              - for(let i=0; i<8; i++)
                li.mb-20.pb-20.border-bottom-dashed
                  .media
                    a.iwrap-56.mr-20(href="#!", title="", style="width: 300px")
                      img(src="images/news-img.png", alt="")
                    .media-body
                      h2.text-16.font-weight-600
                        a.link-unstyled(href="#!", title="") Hidizs DH1000 - Máy nghe nhạc Dual Balanced DAC/Amp
                      .text-secondary.mb-2
                        i.fa.fa-calendar
                        span 15/10/2018 - 21:23 pm
                        span &nbsp;&nbsp;&nbsp;
                        i.fa.fa-eye
                        span Lượt xem: 222
                      .max-line-3.mb-2 Sản phẩm Dual-Balanced DAC/amp SONATA DH-1000 đến từ Hidisz đúng như tên gọi của nó sẽ được trang bị 2 chip giải mã tín hiệu trên mạch op-amp balanced để có thể cung cấp khả năng tách kênh hoàn hảo nhất.
                      .media.align-items-center
                        .iwrap-100.mr-10(style="width: 30px;")
                          img.rounded-circle(src="images/avatar.png", alt="")
                        .media-body.text-secondary Adm - 11 giờ trước
            +paging

      .col-xl-3.col-lg-4.mb-20
        +aside
