extends layout/page
include modules/breadcrumb/breadcrumb
include modules/paging/paging
include modules/aside/aside

block content
  +header
  .container
    +breadcrumb('Trang chủ', 'Hướng dẫn mua hàng')
    .row.gutter-20
      .col-xl-9.col-lg-8.order-lg-1.mb-20
        article.post.card.card-body.text-justify
          h1 Hướng dẫn thanh toán
          .d-flex.flex-wrap.justify-content-between.border-bottom.align-items-center.mb-3.pb-1
            .text-secondary
              i.fa.fa-calendar
              span 15/10/2018 - 21:23 pm
              span &nbsp;&nbsp;&nbsp;
              i.fa.fa-eye
              span Lượt xem: 222
            img(src="images/like-share-plugin.png", alt="")
          .post-content
            p.font-weight-bold
              span.border-bottom.border-secondary Đối với khách hàng ở khu vực Hà nội:
            p - Trường hợp giao hàng trực tiếp: Khách hàng vui lòng tham khảo kĩ sản phẩm mình định lấy. Giao hàng tận nhà vui lòng cộng thêm từ 30.000 VNĐ đến 50.000 VNĐ tiền cước tùy từng khu vực và tùy đơn hàng.
            p - Trường hợp giao hàng qua chuyển phát nhanh. Áp dụng đối với khách hàng ở Hà nội nhưng đi lại không thuận tiện như ở Gia lâm, Sóc Sơn, Đông anh, Sơn tây, Ba vì... Khách hàng chuyển khoản vào tài khoản ngân hàng của chúng tôi, sau đó chúng tôi sẽ gửi hàng qua chuyển phát nhanh đến tận nơi theo yêu cầu của khách hàng
            p - Vui lòng liên hệ trực tiếp với chúng tôi để có thông tin tốt hơn.
            p.font-weight-bold
              span.border-bottom.border-secondary Đối với khách hàng không ở khu vực Hà nội:
            p - Khách hàng vui lòng tìm hiểu kĩ về sản phẩm mình định đặt hàng. Sau đó chuyển tiền trước cho chúng tôi qua tài khoản ngân hàng (cước phí vận chuyển chúng tôi áp dụng là 30.000 VNĐ đến 50.000 VNĐ đối với 1 gói hàng, một số trường hợp chúng tôi sẽ hỗ trợ vận chuyển miễn phí) .
            p - Quý khách lưu ý khi chuyển khoản vui lòng điền tên và nội dung mặt hàng cần mua để chúng tôi có thể xử lý đơn hàng được nhanh nhất.
            p - Sau khi chuyển khoản xong quý khách nhắn tin, gọi điện hoặc gửi qua mail để thông báo mặt hàng cần lấy và cung cấp đầy đủ thông tin số điện thoại, địa chỉ người nhận hàng
            p - Chúng tôi sẽ có trách nhiệm chuyển hàng cho quý khách qua dịch vụ chuyển phát nhanh như: EMS, Tín thành, viettel, ...
            p - Thời gian nhận hàng từ 24h-48h tùng từng khu vực.
            p - Vui lòng liên hệ trực tiếp để có thông tin tốt hơn.
            .text-18.font-weight-700
              p.text-red Chủ tài khoản: Bùi Hoàng Sơn - Hotline: 0169.6199.836
              p Vietcombank: 0011004019579  (Đ/C: VCB Hà Nội)
              p BIDV: 21110000728983  (Đ/C: BIDV Hà Nội )
              p Agribank: 1507205629147  (Đ/C: Chi nhánh Cầu Giấy, HN)
              p Techcombank : 19028247631014 (Đ/C : Chi nhánh Cầu Giấy, HN)
              p Viettinbank  : 105003377974 ( Đ/C : Chi nhánh Tây HN )
      .col-xl-3.col-lg-4.mb-20
        +aside("menu")
