extend layout/page
include modules/breadcrumb/breadcrumb
include modules/paging/paging
include modules/aside/aside
include modules/card/card

block content
  +header
  .container
    +breadcrumb('Trang chủ', 'Hướng dẫn mua hàng')
    .row.gutter-20
      .col-xl-9.col-lg-8.order-lg-1.mb-20
        .card.card-body
          .d-flex.flex-wrap.justify-content-between.border-bottom.align-items-center
            h2.text-18.font-weight-600.mr-30.mb-20 TAI NGHE
            form.form-inline
              .mr-20.m-last-0
                select.form-control.mb-20
                  option Lọc sản phẩm
                  option Lọc sản phẩm
              .mr-20.m-last-0
                select.form-control.mb-20
                  option Mặc định
                  option Mặc định
          .row.gutter-20
            - for(let i=0;i<24;i++)
              .col-lg-3.col-sm-6.mb-20
                +product('no-shadow')
          +paging
      .col-xl-3.col-lg-4.mb-20
        +product-aside
