extends layout/page
include modules/card/card
include modules/breadcrumb/breadcrumb
include modules/title-bar/title-bar

block content
  +header
  .container
    +breadcrumb('Trang chủ', 'Sản phẩm', 'Tai nghe Sennheiser HD660S')
    .card.card-body.mb-50
      .row.gutter-20
        .col-lg-7.mb-20
        .col-lg-5.mb-20
          h1.text-20.text-uppercase.font-weight-500.border-bottom.mb-12.pb-10 Nuheara IQBuds Boost True wireless
          p.font-weight-600.mb-12 Mã hàng: 1469  |  Thương hiệu:
            span.text-red NUHEARA
          p.text-24.font-weight-bold.text-red.mb-12 17.899.000 đ
          p.mb-12 Tình trạng: Hàng sắp về
          p.mb-12 Bảo hành: 12 tháng
          p.mb-12 Xuất xứ: Nuheara Iqbuds True wireless
          a.btn.btn-dark.btn-block.btn-lg.mb-20.rounded-0(href="#!") THÊM VÀO GIỎ HÀNG
          a.btn.btn-pink.btn-block.btn-lg.mb-10.rounded-0(href="#!") MUA NGAY
          .product-intro
            p
              strong Tai nghe không dây hoàn toàn Nuheara IQBuds Boost
            ul
              li
                strong Tai nghe Nuheara IQBuds Boost
                |
                | là một chiếc tai nghe chống ồn có thể điều chỉnh thính giác phù hợp những người có thính giác không tốt.
              li Tai nghe thể thao không dây với trọng lượng tai nghe chỉ 8g.
              li Thiết kế dạng in-ear đeo vừa vặn và thoải mái trong tai
              li Công nghệ chống ồn chủ động ấn tượng.
      ul.nav.nav-tabs.mb-20.detail-tab(role='tablist')
        li.nav-item
          a.nav-link.active(href='#detail-tab-1', role='tab', data-toggle='tab') THÔNG TIN
        li.nav-item
          a.nav-link(href='#detail-tab-2', role='tab', data-toggle='tab') THÔNG SỐ KỸ THUẬT
        li.nav-item
          a.nav-link(href='#detail-tab-3', role='tab', data-toggle='tab') PHỤ KIỆN
        li.nav-item
          a.nav-link(href='#detail-tab-4', role='tab', data-toggle='tab') VIDEO
        li.nav-item
          a.nav-link(href='#detail-tab-5', role='tab', data-toggle='tab') REVIEW
        li.nav-item
          a.nav-link(href='#detail-tab-6', role='tab', data-toggle='tab') BÌNH LUẬN
      .post-content.tab-content.mb-20
        #detail-tab-1.tab-pane.fade.active.show(role='tabpanel')
          p HD 660 S được xem là sự trở lại của "huyền thoại" HD 650 khi nó kế thừa trực tiếp những thiết kế của người tiền nhiệm cùng các cải tiến rất đáng kể về nhiều mặt giúp đạt được chất lượng âm thanh, tính linh hoạt và sự thoải mái khi sử dụng cao hơn.
          p
            img(src="images/detail-img.png", alt="")
          p Sử dụng những thiết kế cơ bản của dòng tai nghe lừng danh HD 650 - một trong số những sản phẩm mang tính biểu tượng của hãng tai nghe Đức, Sennheiser đã phát triển HD 660 S bằng hệ thống driver mới, mang nhiều đặc điểm ưu việt cả về kĩ thuật lẫn khả năng tái tạo âm thanh. Nhờ vào đó, chiếc tai nghe mới này có được trở kháng thấp hơn, độ động vượt trội cùng âm thanh chính xác, giàu chi tiết. Sennheiser HD 660 S được khẳng định hoàn toàn đủ khả năng mang lại âm thanh tham chiếu khi được kết hợp với các nguồn phát hi-res chất lượng cao.
          p
            img(src="images/detail-img.png", alt="")
          p Hệ thống driver mới sử dụng trong HD 660 S được phát triển bởi chính Sennheiser, họ đã kiểm soát hiệu quả sự di chuyển của màng loa nhờ vào cấu trúc giá đỡ bằng thép không gỉ, nó được điều chỉnh theo đường viền của màng loa để giữ cho củ loa luôn hoạt động chính xác trong phạm vi cho phép. Các driver này cũng được lựa chọn, lắp ghép trực tiếp bằng tay nhằm đảm bảo dung sai rất hẹp (+/-1dB).
          p Nhờ vào trở kháng thấp cùng độ nhạy cao, Sennheiser HD 660 S có thể phát huy tốt năng lực của mình với nhiều nguồn phát âm thanh khác nhau, kể cả nguồn phát số và analog. Đương nhiên, để có được âm thanh tham chiếu theo đúng nghĩa, HD 660 S vẫn được khuyên dùng với các headamp chuyên dụng như HDV 820. Nó tương thích với cả kết nối balance và unbalance. Nhà sản xuất cũng đã trang bị kèm theo cáp tiêu chuẩn với phần dây dẫn bằng đồng OFC được đặc chế để có được độ dẫn cao, độ ồn nhiễu thấp.
        #detail-tab-2.tab-pane.fade(role='tabpanel')
          h1 tab 2
        #detail-tab-3.tab-pane.fade(role='tabpanel')
          h1 tab 3
        #detail-tab-4.tab-pane.fade(role='tabpanel')
          h1 tab 4
        #detail-tab-5.tab-pane.fade(role='tabpanel')
          h1 tab 5
        #detail-tab-6.tab-pane.fade(role='tabpanel')
          h1 tab 6
      .mb-20
        img.w-100(src="images/facebook-comment.png", alt="")
      section
        +title-bar("CÓ THỂ BẠN SẼ THÍCH")
        .product-slider.owl-carousel.js-product-slider
          each item in [1,2,3,4,5,6]
            +product('no-sahdow')
