extend layout/page
include modules/breadcrumb/breadcrumb

block content
  +header
  .container
    +breadcrumb("Trang chủ", "Đăng nhập")
    section.container-fluid.bg-white.rounded.mb-30(style="min-height: 550px")
      h2.text-24.font-weight-600.border-bottom.py-20.mb-3 Đăng nhập
      .row
        .col-xl-5.col-lg-6.col-md-7.mx-auto
          form.pb-30
            .form-row.mb-10
              label.col-form-label.col-sm-4 Tên đăng nhập
              .col-sm-8
                input.form-control(type="text")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Mật khẩu
              .col-sm-8
                input.form-control(type="text")
            .form-row.mb-10
              .col-sm-8.offset-sm-4
                label.form-check.mb-0
                  input.form-check-input(type="checkbox")
                  span.form-check-label Ghi nhớ đăng nhập
            .form-row.mb-10
              .col-sm-8.offset-sm-4
                button.btn.btn-dark.px-5(type="submit") Đăng nhập
