extend layout/page
include modules/breadcrumb/breadcrumb

block content
  +header
  .container
    +breadcrumb("Trang chủ", "Đăng ký")
    section.container-fluid.bg-white.rounded.mb-30(style="min-height: 550px")
      h2.text-24.font-weight-600.border-bottom.py-20.mb-3 Đăng ký
      .row
        .col-xl-5.col-lg-6.col-md-7.mx-auto
          form.pb-30
            h3.text-18.mt-4.mb-3.text-center THÔNG TIN TÀI KHOẢN
            .form-row.mb-10
              label.col-form-label.col-sm-4 Tên đăng nhập
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="text")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Email
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="email")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Mật khẩu
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="password")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Nhập lại mật khẩu
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="password")
            h3.text-18.mt-4.mb-3.text-center THÔNG TIN LIÊN HỆ
            .form-row.mb-10
              label.col-form-label.col-sm-4 Công ty
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="text")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Mã bưu điện
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="text")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Địa chỉ
                span.text-danger (*)
              .col-sm-8
                input.form-control(type="text")
            .form-row.mb-10
              label.col-form-label.col-sm-4 Tỉnh / Thành phố
                span.text-danger (*)
              .col-sm-8
                select.form-control
                  option -- Chọn --
                  option -- Chọn --
                  option -- Chọn --
            .form-row.mb-10
              label.col-form-label.col-sm-4 Quận / Huyện
                span.text-danger (*)
              .col-sm-8
                select.form-control
                  option -- Chọn --
                  option -- Chọn --
                  option -- Chọn --
            .form-row.mb-10
              .col-sm-8.offset-sm-4
                button.btn.btn-dark.px-5(type="submit") Đăng ký
