mixin paging
  nav.m-paging
    ul.pagination
      li.page-item.disabled
        a.page-link(href="#!")
          i.fa.fa-angle-double-left
      li.page-item.active
        a.page-link(href="#!") 1
      li.page-item
        a.page-link(href="#!") 2
      li.page-item
        a.page-link(href="#!") 3
      li.page-item
        a.page-link(href="#!")
          i.fa.fa-angle-double-right
